body {
    background-color: pink;
}
h1 {
    text-align: center;
  }
  h1 {
    color: white;
    transition: black .5s linear;
}
h1:hover {
    color: black;
  }
h1 {
    font-size: 3.5em;
}
  p {
      color: white;
  }
p {
    text-align: center;
}
p {
    font-size: 1.5em;
}
h2 {
    color: white;
}
h2 {
    text-align: center;
}
img {
    display: block;
    width: 20%;
    margin: auto;
}
