/* Home Page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&family=Tiro+Gurmukhi&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #7180ac   ;
    --secondary-color: #2b4570 ;
    --accent1-color: #a8d0db;
    --accent2-color: rgb(73, 73, 229);
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Tiro Gurmukhi";
    --paragraph-font: PT Sans, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #0095ff;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: orange; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: rgb(73, 73, 229)  ;
    --nav-link-color: white;
    --nav-background-color: orange;
    --nav-hover-link-color: white;
  }
  /* Header*/  
#header {
    display: grid;
    grid-template-columns: 25% auto;
    margin: 0 auto;
    background-color: rgb(73, 73, 229);
}
h1 {
    color: white;
    font-family: var(--heading-font);
    margin: 13%;
    font-size: 55px;
}
h1:hover {
    color:gold;
}
.travel-world-logo {
    width: 90%;
    justify-self: center;
    align-self: center;
}
/* Navigator */
nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    font-size: 1.3em;
    list-style-type: none;
    display: flex;  
    justify-content: space-around;
}
nav a {
    text-align: center;
    padding:35px;
    text-decoration: none;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: #000;
}
/* Content */
#content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: auto;
}
#content-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#content-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    background-color:grey;
    opacity: 80%;
    padding: 5%;
}
#content-msg p {
    font-family: var(--paragraph-font);
    color:black;
    font-size: 20px;
    }
    #content-msg:hover {
        opacity: 95%;
    }
#mountains {
    width: 100%;
}
.home-title {
    text-align: center;
    font-family: var(--heading-font);
    color:#2b4570;
    font-size: 50px;
}
#traveler {
    display: block;
    margin: 0 auto;
}
/* Main */
.title {
    font-family: var(--heading-font);
    font-size: 30px;
}
.text {
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: justify;
}
/* Top Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/* Footer */
footer {
    background-color: rgb(73,73,229);
    margin-top: 5%;
    margin-bottom: auto;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
footer h2 {
    font-family: var(--heading-font);
    margin-left: 5%;
    padding: 15px;
}
footer h2:hover {
    background-color: #000;
}
footer a {
    text-align: center;
    text-decoration: none;
    color:gold;
}
footer a:hover {
    text-align: center;
    color: white;
}
.social img {
    padding: 10px;
}